<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partialCached "preloader.html" . -}}
	{{ if not .IsHome}}
	{{- partial "header.html" . -}}
	{{ end }}
	<!-- Start Testimonials -->
	<!-- {{ with .GetPage "testimonial"}}
<style>{{.Params.custom_css | safeCSS}}</style>
<section class="testimonials {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="testimonial">
<div class="container">
<div class="row">
	<div class="testimonials-container col-lg-8 offset-lg-2">
	<h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ .Title | markdownify }}</h1>
	<div class="owl-carousel owl-theme wow fadeInUp" data-wow-duration="1.5s">
		{{ range .Params.testimonial_slider }}
		<div class="single-testimonial">
		<div class="testimonial-holder">
			<img class="img-fluid" src="{{ .image | absURL }}" alt="{{ .name }}">
			<h2>{{ .name }}</h2>
			<span>{{ .designation | markdownify }}</span>
			<p><i class="fa fa-quote-left"></i> {{ .content | markdownify }} <i class="fa fa-quote-right"></i></p>
		</div>
		</div>
		{{ end }}
	</div>
	</div>
</div>
</div>
</section>
{{ end }} -->
	<!-- End Testimonials -->

	{{- block "main" . }}


	{{- end }}
	<!-- Start Testimonials -->

	<style>
		{
				{
				.Params.custom_css | safeCSS
			}
		}
	</style>
	<section class="testimonials {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}}
		id="testimonial">
		<div class="container">
			<div class="row">
				<div class="testimonials-container col-lg-8 offset-lg-2">
					<h1 class="wow fadeInUp" data-wow-duration="1.5s">Leadership</h1>
					<!-- # .Title | markdownify -->
					{{ range .Params.testimonial_slider }}
					<div class="owl-carousel owl-theme wow fadeInUp" data-wow-duration="1.5s">
						<div class="single-testimonial">
							<div class="testimonial-holder">
								<img class="img-fluid" src="{{ .image | absURL }}" alt="{{ .name }}">
								<a href="{{ .url | absURL }}" target="_blank" rel="noopener">
									<h2>{{ .name }}</h2>
								</a>
								<span>{{ .designation | markdownify }}</span>
								<p><i class="fa fa-quote-left"></i> {{ .content | markdownify }} <i
										class="fa fa-quote-right"></i></p>
							</div>
						</div>
					</div>
					{{ end }}

					<div class="owl-carousel owl-theme wow fadeInUp" data-wow-duration="1.5s">
						<div class="single-testimonial">
							{{ range .Params.testimonial_slider }}
							<div class="testimonial-holder">

								<img class="img-fluid" src="{{ .image | absURL }}" alt="{{ .name }}">
								<a href="{{ .url | absURL }}" target="_blank" rel="noopener">
									<h2>{{ .name }}</h2>
								</a>
								<span>{{ .designation | markdownify }}</span>
								<p><i class="fa fa-quote-left"></i> {{ .content | markdownify }} <i
										class="fa fa-quote-right"></i></p>

							</div>
							{{ end }}
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- End Testimonials -->
	{{ if not .IsHome}}
	{{- partialCached "footer.html" . -}}
	{{ end }}
	{{- partialCached "script.html" . -}}
</body>

</html>